.about{
    padding: 80px ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about__text{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

.about__email{
    font-weight: 600;
    font-size: 1.6em;
}